/*
 * nib is a powerful lib for stylus that provides cross-browser css3 mixins.
 * No more vendor prefixes. http://visionmedia.github.com/nib/
 */
@import "nib"
@import 'fonts'


fontFaces()

*
*:after
*::before
    box-sizing border-box


/*
 * GLOBAL STYLES
 */

body
    background #F3F3F3

/* Set font icon with data-icon value */
[data-icon]:before
    yahgoIcon()



/*
 *  LAYOUT
 */

#container
    position relative

    section
        height 400px
        position relative

        &:nth-child(even)        
            background red


        &:nth-child(1)
            height 700px
            background url('/images/loreal-hair.jpg') no-repeat center top

            .elements
                .round
                    border-radius 25px
                    width 50px
                    height 50px
                    background red
                    position absolute

                    &:nth-child(1)
                        left 50%
                        width 30px
                        height 30px

                    &:nth-child(2)
                        left 45%
                        width 20px
                        height 20px

                    &:nth-child(3)
                        left 25%
                        border-radius 75px
                        width 150px
                        height 150px