/* No more vendor prefixes. http://visionmedia.github.com/nib/ */
@import "nib"
@import 'fonts'



*:before,
*:after,
*
    box-sizing border-box

fontFaces()

/*
 * GLOBAL STYLES
 */

body
    background #f3f3f3


// SocialBar
#socialBar
    background #000
    color #999
    font 11px/20px Arial, sans-serif
    text-align center
    position absolute
    top 0
    width 100%
    z-index 1


/*
 *  HEADER
 */
header
    box-shadow 0 3px 5px rgba(0,0,0,0.2)
    background #fff
    position absolute
    z-index 99
    width 100%

    &.scrolled
        position fixed
        top 0
    


    // Logo
    h1
        background url('../images/puretrend_logo_dark.png') no-repeat center
        text-indent -9999px
        width 150px
        float left
        height 50px
        margin 0
        margin 0 0 0 25px

    /*
     * Navigation
    */
    nav
        margin 0 auto
        overflow auto

        // Menus
        ul
            text-align center
            margin 0 285px 0 175px

            li
                display inline-block
                &:after
                    content "|"
                    color #ccc
                    padding 0 5px 0 10px
                    noveCento(noveLight, 17px, #888, 50px)
                &:last-child:after
                    content ""

                // Links
                a
                    text-decoration none
                    noveCento(noveMedium, 17px, #888, 50px)

                    &.sublime
                        color #ff3300

                    &:hover
                        color #000


    /* Search box */
    #search
        position absolute
        background #eee
        border-left 3px solid #d5d5d5
        height 50px
        width 285px
        line-height 50px
        top 0
        right 0

        button
            float left
            background transparent url('../images/search.png') no-repeat center
            text-indent -9999px
            height 50px
            width 50px
            cursor pointer
            border none
            padding 0

        input
            border none
            padding 0
            background none
            // old safari ios support
            width -webkit-calc(100% - 50px)
            width calc(100% - 50px)
            noveCento(noveBook, 15px, #888, 50px)

        &:hover
        &:focus
            background #f9f9f9

            input
                color #333




/*
 * Responsive rules
 */

/* From 1050px to 1299px */
@media screen and (min-width: 1150px) and (max-width: 1400px)
    header

        nav ul
            margin 0 150px 0 175px

            li
                &:after
                    padding 0 2px 0 7px
                    noveCento(noveLight, 15px, #ccc, 50px)

                // Links
                a
                    noveCento(noveMedium, 15px, #888, 50px)

        #search
            width 150px
            input
                noveCento(noveMedium, 13px, #888, 50px)



/* From 481px to 1049px */
@media screen and (min-width: 481px) and (max-width: 1149px)
    header
        h1
            height 50px
            background-size contain

        nav ul
            margin 0 150px 0 175px

            li
                &:after
                    padding 0 0 0 5px
                    noveCento(noveLight, 13px, #888, 50px)

                // Links
                a
                    noveCento(noveBook, 13px, #888, 50px)

        #search
            width 150px
            height auto
            input
                noveCento(noveBook, 13px, #888, normal)