/*
 * FONTS VAR
 */
@import "nib"

font-url = '/fonts/'
noveBold = 'Novecentosanswide-Bold'
noveBook = 'Novecentosanswide-Book'
noveLight = 'Novecentosanswide-Light'

fontFaces()
	@font-face
		font-family: noveBold
		src: url(font-url + '294AF4_bold.eot')
		src: url(font-url + '294AF4_bold.eot?#iefix') format('embedded-opentype'),url(font-url + '294AF4_bold.woff') format('woff'),url(font-url + '294AF4_bold.ttf') format('truetype'),url(font-url + '294AF4_bold.svg#wf') format('svg')
		font-weight normal
		font-style normal

	@font-face
		font-family: noveBook
		src: url(font-url + '294AF4_book.eot')
		src: url(font-url + '294AF4_book.eot?#iefix') format('embedded-opentype'),url(font-url + '294AF4_book.woff') format('woff'),url(font-url + '294AF4_book.ttf') format('truetype'),url(font-url + '294AF4_book.svg#wf') format('svg')
		font-weight normal
		font-style normal


	@font-face
		font-family: noveLight
		src: url(font-url + '294AF4_light.eot')
		src: url(font-url + '294AF4_light.eot?#iefix') format('embedded-opentype'),url(font-url + '294AF4_light.woff') format('woff'),url(font-url + '294AF4_light.ttf') format('truetype'),url(font-url + '294AF4_light.svg#wf') format('svg')
		font-weight normal
		font-style normal

	
noveCento(family = noveN, Size = 12px, Color = #666, LineHeight = normal, TextShadow = false)
	font Size/LineHeight family, sans-serif
	color Color
	unless TextShadow == false
		text-shadow TextShadow